<h1>Books</h1>
<% @books.each do |book| %>

<table>
 <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
 </thead>

 <tbody>
  <tr>
    <td></td>
    <td></td>
    <td>
     <%= link_to 'Show', book_path(@book.id) %>
    <td>
     <%= link_to 'Edit', edit_book_path(@book.id) %>
    </td>
    <td>
     <%= link_to 'Destory', destroy_book_path(@book.id), method: :delete, "dara-confirm" =>"Are you sure?" %>
    </td>
  </tr>


 </tbody>
</table>

<p>title</p>
<span>
  <%= link_to book.title, book_path(book.id) %>
</span>

<% end %>