<body>
  <h1>
  ようこそ
  <strong>Bookers</strong>
  へ!
 </h1>

 <P>
  <strong>Bookers</strong>
  では、さまざまな書籍に関するあなたの意見や
 </P>
 <p>印象を共有することができます</p>

 <p>
  <%= link_to 'Start', index_book_path(@book.id) %>
 </p>

</body>